@model Futura.Models.Projekt

@{
    ViewBag.Title = "Edit";
}

<h2>Editieren</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Projekt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProjektID)

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Projekttitel)
                    @Html.TextBoxFor(model => model.Projekttitel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Projekttitel)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KundenID, "KundenID")
                    @Html.DropDownList("KundenID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KundenID)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EntwicklerID, "EntwicklerID")
                    @Html.DropDownList("EntwicklerID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EntwicklerID)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProduktID, "ProduktID")
                    @Html.DropDownList("ProduktID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProduktID)

                </div>

                <div class="form-group input-group-sm">
                    @Html.LabelFor(model => model.Abgabetermin)
                    @Html.TextBoxFor(model => model.Abgabetermin, new { @class = "form-control datepicker", @Value = Model.Abgabetermin.ToString("dd.MM.yyyy") })
                    @Html.ValidationMessageFor(model => model.Abgabetermin)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Abgeschlossen)
                    @Html.EditorFor(model => model.Abgeschlossen, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Abgeschlossen)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Projektbeschreibung)
                    @Html.TextAreaFor(model => model.Projektbeschreibung, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Projektbeschreibung)

                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Speichern" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

