@model Futura.Models.Kunde

@{
    ViewBag.Title = "Edit";
}

<h2>Editieren</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kunde</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.KundenID)

        <div class="form-group">
            @Html.LabelFor(model => model.KundenName)          
            @Html.TextBoxFor(model => model.KundenName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KundenName)           
        </div>

        <div class="form-group">            
                <input type="submit" value="Speichern" class="btn btn-default" />            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
