@model Futura.Models.Produkt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produkt</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produkttitel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produkttitel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SprachID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SprachID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProduktID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
