@model Futura.Models.Entwickler

@{
    ViewBag.Title = "Edit";
}

<h2>Editieren</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Entwickler</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EntwicklerID)

        <div class="form-group">
            @Html.LabelFor(model => model.Enwicklername)       
            @Html.TextBoxFor(model => model.Enwicklername, new { @class = "form-control" })            
            @Html.ValidationMessageFor(model => model.Enwicklername)       
        </div>

        <div class="form-group">            
                <input type="submit" value="Speichern" class="btn btn-default" />            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
