@model IEnumerable<Futura.Models.Entwickler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Entwicklername", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Enwicklername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntwicklerID)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntwicklerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntwicklerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntwicklerID })
        </td>
    </tr>
}

</table>
