@model Futura.Models.SkillPool

@{
    ViewBag.Title = "Create";
}

<h2>Erstelln</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Skills</h3>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <h5>
                @Html.LabelFor(model => model.EntwicklerID, "Entwickler")
            </h5>
            @Html.DropDownListFor(s => s.EntwicklerID, (IEnumerable<SelectListItem>)ViewBag.EntwicklerID, String.Empty, new  {@class = "form-control" })                       
            @Html.ValidationMessageFor(model => model.EntwicklerID)           
        </div>
        <div class="form-group">
            <h5>
            @Html.LabelFor(model => model.SprachID, "Sprache")
            </h5>
            @Html.DropDownListFor(s => s.SprachID, (IEnumerable<SelectListItem>)ViewBag.SprachID, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SprachID)            
        </div>
        <div class="form-group">            
                <input type="submit" value="Erstellen" class="btn btn-default" />            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
